body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #dfb6d5;
}

.vehicleAttr {
  background-color: rgb(125, 213, 122);
  width: 120px;
  font-family: Arial, Helvetica, sans-serif;
} 